[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clickR"]
	path = clickR
	url = https://github.com/david-hervas/clickr
[submodule "repmod"]
	path = repmod
	url = https://github.com/david-hervas/repmod
[submodule "sNPLS"]
	path = sNPLS
	url = https://github.com/david-hervas/snpls
